html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
/*Cor do fundo e fixação de margem*/
body{
    margin: 0;
    background-color: black;
}
/*Formatação de estrelas*/
.star{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}
.intro{
    color: rgb(75, 213, 238);
    font-size: 200%;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /*Criação da primeira animação ( nome da tag, tempo que ela ficará na tela, tipo de animação, tempo dela) */
    animation: intro 6s ease-out 1s;
    white-space: nowrap;
    opacity: 0;
}

@keyframes intro{
    0%{
    opacity: 0;
    }
    20%{
    opacity: 1;
    }
    90%{
    opacity: 1;
    }
    100%{
    opacity: 0;
    }
}

.logo{
    position: absolute;
    top:50%;
    left: 50%;
    margin: 0;
    z-index: 2;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

.logo svg{
    /*essa função é para mudar tamanhos ( erdar: svg erda o tamnho da logo)*/
    width: inherit;
}

@keyframes logo{
    0%{
    opacity: 1;
    transform: translate(-50%, -50%) scale(2.75);
    width: 400px;
    }
    100%{
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.1);
    width: 400px;
    }
}

#board{
    font-family: century Gothic, CenuryGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    font-size: 100%;
    margin-left: -10em;
    font-weight: bold;
    overflow: hidden;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

p {
    color: #ffff82;
}

#board::after{
    position: absolute;
    content: '';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
}

#conteudo{
    animation: scroll 150s linear 16s;
    position: absolute;
    top: 100%;
}

#title, #subtitle{
    text-align: center;
}

@keyframes scroll {
    0%{
        top: 100%;
    }

    100%{
        top: -170%;
    }
}

/* ===== RESPONSIVIDADE ===== */

/* Celulares (pequenos: até 480px) */
@media (max-width: 480px) {
  .intro {
    font-size: 1.4rem;
    line-height: 1.3;
    max-width: 95vw;
    padding: 0 0.5rem;
  }

  .logo {
    width: 180px;
  }

  #board {
    width: 14em;
    height: 40em;
    transform: translateX(-50%) perspective(250px) rotateX(20deg);
  }

  #conteudo {
    animation-duration: 120s;
  }

  #title {
    font-size: 1.3em;
  }
  #subtitle {
    font-size: 1.1em;
  }
  p {
    font-size: 0.95em;
    line-height: 1.4;
  }
}

/* telas médias (481px a 1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
  .intro {
    font-size: 2rem;
    line-height: 1.4;
    max-width: 85vw;
  }

  .logo {
    width: 250px;
  }

  #board {
    width: 18em;
    height: 50em;
    transform: translateX(-50%) perspective(300px) rotateX(25deg);
  }

  #conteudo {
    animation-duration: 150s;
  }

  p {
    font-size: 1em;
    line-height: 1.5;
  }
}

/* telas grandes (acima de 1024px) */
@media (min-width: 1025px) {
  .intro {
    font-size: 2.5rem;
    line-height: 1.5;
    max-width: 70vw;
  }

  .logo {
    width: 320px;
  }

  #board {
    width: 22em;
    height: 60em;
    transform: translateX(-50%) perspective(400px) rotateX(28deg);
  }

  #conteudo {
    animation-duration: 180s;
  }

  p {
    font-size: 1.1em;
    line-height: 1.6;
  }

  #title {
    font-size: 1.6em;
  }
  #subtitle {
    font-size: 1.4em;
  }
}